<div class="h3 pb-2 mb-4 text-success border-bottom border-success">
    マイページ
</div>
<div class='container'>
  <div class='row g-3'>
    <div class='col-md-7 offset-md-2'>
   <table class="table table-bordered">
     <div class="form-inline">
     <h5><strong>会員情報</strong></h5>
     <div class="ml-4 mb-2">
     <%= link_to "編集する","/public/customers/#{@customer.id}/edit" , class: "btn btn-sm btn-success" %>
     </div>
     </div>
      <tbody>
        <tr>
          <td class="table-success border-light"><strong>氏名</strong></td>
          <td><%= @customer.first_name %><%= @customer.last_name %></td>
        </tr>
        <tr>
          <td class="table-success border-light"><strong>フリガナ</strong></td>
          <td><%= @customer.first_name_kana %><%= @customer.last_name_kana %></td>
        </tr>
        <tr>
          <td class="table-success border-light"><strong>郵便番号</strong></td>
          <td><%= @customer.post_code %></td>
        </tr>
        <tr>
          <td class="table-success border-light"><strong>住所</strong></td>
          <td><%= @customer.address %></td>
        </tr>
        <tr>
          <td class="table-success border-light"><strong>電話番号</strong></td>
          <td><%= @customer.telephone_number %></td>
        </tr>
        <tr>
          <td class="table-success border-light"><strong>メールアドレス</strong></td>
          <td><%= @customer.email %></td>
        </tr>
      </tbody>
      </table>
         <div class="form-inline">
        <h5><strong>配送先</strong></h5>
        <div class="ml-4 mb-2">
        <%= link_to "一覧を見る", public_ships_path, class: "btn btn-sm btn-primary" %>
        </div>
      </div>
      <div class="form-inline mt-3">
        <h5><strong>購入履歴</strong></h5>
          <div class="ml-4 mb-2">
         <%= link_to "一覧を見る", public_orders_path, class: "btn btn-sm  btn-primary" %>
         </div>
      </div>
       </div>
      </div>
    </div>




