<h4>商品詳細</h4>
<div>イメージタグ</div>
<div>
  <%= f.label '商品名'%>
  <%= @item.name %>
</div>
<div>
  <%= f.label '商品説明'%>
  <%= @item.introduction %>
</div>
<div>
  <%= f.label 'ジャンル'%>
  <%= @item.gunre %>
</div>
<div>
  <%= f.label '税込価格（税抜価格）'%>
  <%= @item.price %>
</div>
<div>
  <%= f.label '販売ステータス'%>
  <%= @item.status %>
</div>