<h4>商品詳細</h4>
<div>
  <%= image_tag @item.image, size:'300x300' %>
</div>
<div>
  <label>商品名</label>
  <%= @item.name %>
</div>
<div>
  <label>商品説明</label>
  <%= @item.introduction %>
</div>
<div>
  <label>ジャンル名</label>
  <%= @item.gunre_id %>
</div>
<div>
  <label>税込価格</label>
  <%= @item.price %>
</div>
<div>
  <label>販売ステータス</label>
  <%= @item.is_active %>
</div>