<h4>注文履歴詳細</h4>
<div>
  <label>購入者</label>
  <%= name %>
</div>

<div>
  <label>注文日</label>
  <%= date %>
</div>

<div>
  <label>配送先</label>
  <%= address %>
</div>

<div>
  <label>支払い方法</label>
  <%= payment_method %>
</div>

<div>
  <label>注文ステータス</label>
  <%= status %>
</div>


<%= render 'order_details/making_status' %>
