<h4>注文履歴詳細</h4>
<div>
  <label>購入者</label>
  <%= @order.customer.first_name + @order.customer.last_name %>
</div>

<div>
  <label>注文日</label>
  <%= @order.updated_at %>
</div>

<div>
  <label>配送先</label>
  <%= @order.ship_address %>
</div>

<div>
  <label>支払い方法</label>
  <%= @order.payment_method %>
</div>

<div>
  <label>注文ステータス</label>
  <%= @order.status %>
</div>

<div>
  <%= render 'admin/order_details/show' %>
</div>


