<div class="h3 pb-2 mb-4 text-success border-bottom border-success">
  ジャンル一覧
</div>
<div class='container'>
  <div class='row g-3'>
    <div class='col-md-6 offset-md-3'>
    <%= form_with model: @genre,url:"/admin/genres",method: :post do |f| %>
      <div class="form-group">
        <%= f.label :name,"ジャンル名",class: "h4 text-success" %>
        <%= f.text_field :name, class: 'form-control border-success' %>
      </div>
      <div class="text-right">
        <button type="submit" class="btn btn-success rounded-circle p-0" style="width:3rem;height:3rem;"><h2>+</h2></button>
      </div>
    <% end %>
    <br>
    <table class="table">
      <% @genres.each do |genre| %>
      <tbody>
        <tr>
          <th scope="row"><%= genre.id %></th>
          <td><%= genre.name %></td>
          <td><%= link_to "編集する",  "/admin/genres/#{genre.id}/edit" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    </div>
  </div>
</div>
