<div class="container">

  <div class="row">
    <div class="col-md-3 offset-md-2">
      <h2>ショッピングカート</h2>
    </div>
    <div class="col-md-2 offset-me-5">
      <%= link_to public_destroy_all_path, method: :delete do %>
        カートをからにする
      <% end %>
    </div>
  </div>

  <div class=row>
    <div class="col-md-10">
      <table class="table">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価(税込み)</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
        <% @cart_items.each do |cart_item| %>
        <tbody>
          <tr>

            <td>
              <%= image_tag cart_item.item.image, size: "50x50" %><%= cart_item.item.name %>
            </td>
            <td>
               <!--税込表示をするためのメソッド(モデルに定義したもの)-->
              &yen;<%= cart_item.item.with_tax_price %>
            </td>
            <td>
              <%= cart_item.amount %>
            </td>
            <td>
              <!--小計を求めるためのメソッド(モデルに定義したもの)-->
              &yen;<%= cart_item.subtotal %>
            </td>
            <td>
            <%= form_with model: cart_item, url: public_cart_item_path(cart_item.id), method: :patch do |f| %>
              <%= f.select :amount, *[1..10] %>
            <%= f.submit '変更' %>
            </div>
        <% end %>

            </td>
            <td>
              <%= link_to  public_cart_item_path(cart_item.id), method: :delete do %>
                <p>削除する</p>
              <% end %>
            </td>

          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2 offset-md-3">
      <%= link_to public_items_path do %>
        <p>買い物を続ける</p>
      <% end %>
    </div>
    <div class="col-md-2 offset-md-5">
      <table>
        <tbody>
          <tr>
            <td>合計金額</td>
            <!--合計金額の計算-->
            <% @cart_items.each do |cart_item| %>
              <% @total += cart_item.subtotal %>
            <% end %>
            <td>&yen;<%= @total %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

   <div class=row>
    <div class="col-md-12 text-center">
      <%= link_to new_public_order_path do %>
        <p>情報入力に進む</p>
      <% end %>
    </div>
  </div>

</div>