<div class="container">

  <div class="row">
    <div class="col-md-3 offset-md-2">
      <h2>ショッピングカート</h2>
    </div>
    <div class="col-md-2 offset-me-5">
      カートをからにする
    </div>
  </div>

  <div class=row>
    <div class="col-md-10">
      <table class="table">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価(税込み)</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
        <% @cart_items.each do |cart_item| %>
        <tbody>
          <tr>

            <td>
              <%= image_tag cart_item.item.image, size: "50x50" %><%= cart_item.item.name %>
            </td>
            <td>
              <%= cart_item.amount %>
            </td>
            <td>
              <%= cart_item.item.with_tax_price %>
            </td>
            <td>
              <%= cart_item.subtotal %>
            </td>

          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2 offset-md-3">
      <p>買い物を続ける</p>
    </div>
    <div class="col-md-2 offset-md-5">
      <table>
        <tbody>
          <tr>
            <td>合計金額</td>
            <td>金額リンク</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

   <div class=row>
    <div class="col-md-12 text-center">
      <p>情報入力に進む</p>
    </div>
  </div>

</div>