<div class="h3 pb-2 mb-4 text-success border-bottom border-success">
    <h1>配送先登録/一覧</h1>
     </div>
      <div class="col-md-10 offset-md-1">
       <div class="row g-3">
       <table class="table table-bordered">
         <thead>
          <tr class="table-success">
            <th>注文日</th>
            <th>配送先</th>
            <th>注文商品</th>
            <th>支払い金額</th>
            <th>ステータス</th>
            <th>注文詳細</th>
          </tr>
        </thead>
        <% @orders.each do |order| %>
        <tbody>
          <tr>
            <td class="align-middle"><%= order.created_at %></td>
            <td class="align-middle">
              〒<%= order.post_code %></br>
              <%= order.ship_address %></br>
              <%= order.name %>
            </td>
            <td class="align-middle">
              <table class="table-sm table-borderless">
              <% order.order_details.each do |order_detail| %>
                <tbody>
                  <tr>
                    <td><%= order_detail.item.name %></td>
                  </tr>
                </tbody>
              <% end %>
              </table>
            </td>
            <td class="align-middle"><%= order.total_payment %></td>
            <td class="align-middle"><%= order.status %></td>
            <td class="align-middle"><%= link_to "表示する", "/public/orders/#{order.id}", class: "btn btn-sm btn-primary" %></td>
          </tr>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>
