<div class="container">
  <div class="row">

    <div class="col-md-3">
      <!--ジャンル検索-->
    </div>


    <div classo="col-md-8 offset-md-1">

      <div class="row">
        <div classo="col-md-4">
          <%= image_tag @item.image, size: "200x200" %>
        </div>

        <div classo="col-md-6 offset-md-2">
          <h1><%= @item.name %></h1>
          <h2><%= @item.introduction %></h2>
          <%= @item.price %>
        </div>
      </div>


      <div class="row">
        <%= form_with model: @cart_item, url: '/public/cart_items', method: :post do |f| %>
          <%= f.hidden_field :item_id, :value => @item.id %>
          <div classo="col-md-3 offset-md-6">
            <%= f.select :amount, *[1..10] %>
          </div>
          <div classo="col-md-2 offset-md-1">
            <%= f.submit 'カートに入れる' %>
          </div>
        <% end %>
      </div>

    </div>

  </div>
</div>