<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/"><span>NAGANOCAKE</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
        
          <li>
            <%= link_to class: 'nav-link text-dirk' do %>
              <i></i> Home/
            <% end %>
          </li>
          <li>
            <%= link_to class: 'nav-link text-dirk' do %>
              <i></i> Users/
            <% end %>
          </li>
          <li>
            <%= link_to class: 'nav-link text-dirk' do %>
              <i></i> Books/
            <% end %>
          </li>
          <li>
            <%= link_to class: 'nav-link text-dirk' do %>
              <i></i> logout/
            <% end %>
          </li>
        
          <li>
            <%= link_to class: 'nav-link text-dirk' do %>
              <i></i> Home/
            <% end %>
          </li>
          <li>
            <%= link_to class: 'nav-link text-dirk' do %>
              <i></i> About/
            <% end %>
          </li>
          <li>
            <%= link_to "/customers/sign_up",class: 'nav-link text-dirk' do %>
              <i></i> sign up/
            <% end %>
          </li>
          <li>
            <%= link_to "/customers/sign_in",class: 'nav-link text-dirk' do %>
              <i></i> login/
            <% end %>
          </li>
          <li>
            <%= link_to "/admin/customers", class: 'nav-link text-dirk' do %>
              <i></i> (admin)会員一覧
            <% end %>
          </li>
          <li>
            <%= link_to "/admin/sign_in", class: 'nav-link text-dirk' do %>
              <i></i> (admin)Log in
            <% end %>
          </li>
          <li>
            <%= link_to "/admin/sign_out", class: 'nav-link text-dirk' do %>
              <i></i> (admin)Log out
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>